[color]
  branch = auto
  ui = true
[color "branch"]
  current = yellow bold
  local = white
  remote = yellow dim
[color "diff"]
  commit = yellow bold
  frag = magenta bold
  meta = yellow
  new = green bold
  old = red bold
  whitespace = red reverse
[color "status"]
  added = cyan bold
  branch = yellow bold
  changed = red bold
  untracked = magenta bold
[alias]
  authors = "!f() { \
    since_date=$(gdate "+%Y-%m-%d" --date='-365 day'); \
    git shortlog --since=\"$since_date\" -n -s $1; \
  }; f"
  br = branch
  cat = "!f() { \
    ext=$(echo "$2" | rev | cut -s -d '.' -f1 | rev); \
	  args=${ext:+-l$ext}; \
	  git show \"$1:$2\" | bat --style=plain $args; \
  }; f"
  cm = commit
  co = checkout
  cr = checkout -b
  df = diff
  fe = fetch -tpP origin
  dfcm = diff --staged
  last = log --oneline -n 1
  lasttags = "!f() { \
    git tl | grep ${1:-''} | head -n ${2:-10}; \
  }; f"
  minlog = log --oneline
  ml = log --oneline
  pn = push origin -u HEAD
  pl = pull
  ps = push
  st = status
  statlog = log --stat
  start = "!f() { \
    name=$(echo "$1" | sed "s/^EMB-//"); \
    git cr juansc/EMB-$name${2+-}$2; \
  }; f"
  sl = log --stat
  taglist = tag -l --sort=-v:refname
  tl = tag -l --sort=-v:refname
  wip = cm -m "wip" --no-verify
  workon = "!f() { \
    git checkout $(git branch | grep \"EMB-$1\" | head -n1); \
  }; f"
[credential]
  helper = osxkeychain
[user]
  email = juanscarrillo23@gmail.com
  name = Juan
[core]
  excludesfile = ~/.gitignore_global
	editor = nvim
[push]
  default = current
  followTags = true
[color "diff-highlight"]
  newNormal = green bold
  newHighlight = green bold 22
  oldNormal = red bold
  oldHighlight = red bold 52
[pager]
  diff = delta
  log = delta
  shortlog = cat
  reflog = delta
  show = delta
  branch = delta

[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = gruvbox-dark 
  navigate = true
  line-numbers = true
  side-by-side = true

[interactive]
  diffFilter = delta --color-only  
[rebase]
	updateRegs = true
[github]
	user = juansc
[init]
	defaultBranch = main
 [url "git@github.com:"]
  insteadOf = https://github.com/
